footer.footer
	.container.footer_inner
		.footer_top
			span.footer_top__text 2015-2021 © Дрожжи™
			span.footer_top__text ООО «РВБ-Маркетинг»
			span.footer_top__text Политика конфиденциальности
		.footer_bottom 
			img.footer_bottom__logo(src="./images/logotype_footer.png" alt="")

	a.back-to-top.js-back-to-top(href="javascript:void(0);") Вверх