header.js-header
    .container.header
        .header__flex
            .header__logotype 
                img(src="./images/logotype.png" alt="")
                span.header__title Маркетинговое агентство. 
                    | С нами вы растете как на дрожжах
            
            .header__nav.js-header_nav
                nav.header__nav_panel 
                    ul 
                        li
                            a.js-to-anchor(href="#portfolio_section") Портфолио
                        li
                            a.js-to-anchor(href="#about_section") О компании 
                        li
                            a.js-to-anchor(href="#form_section") Контакты
                a.header__call(href="javascript:void(0)") Оставить заявку

        .header__burger.js-header-burger
            span.header__burger-part
            span.header__burger-part
            span.header__burger-part